<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wondersgroup.cloud.paas.storage.mapper.ext.ResourceStatisticExtendMapper">
    <resultMap id="BaseResultMap" type="com.wondersgroup.cloud.paas.storage.model.ResourceStatistic">
        <result column="resource_statistic_id" property="resourceStatisticId" javaType="java.lang.String"
                jdbcType="VARCHAR"/>
        <result column="bucket_id" property="bucketId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="resource_id" property="resourceId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="storage_type" property="storageType" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="operation" property="operation" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="record_time" property="recordTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="add_record_time" property="addRecordTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getDeleteListForSixtyDate" resultMap="BaseResultMap" parameterType="java.util.Map">
        select distinct resource_id,file_size
        from resource_statistic
        where project_id = #{projectId}
            and storage_type = #{type}
            and operation = 0
            and add_record_time > #{beginDate}
            and record_time between #{beginDate} and #{endDate}
            order by record_time asc
    </select>

    <select id="getPreStorageByDate" resultType="java.lang.Long" parameterType="java.util.Map">
        select IFNULL(sum(file_size * (case when operation = 0 then -1 when operation = 1 then 1 end)),0) as storage
        from resource_statistic
        where project_id = #{projectId}
            and storage_type = #{type}
            and #{date} > record_time
    </select>

</mapper>