<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wondersgroup.cloud.paas.storage.mapper.ScheduleJobLogMapper">
    <resultMap id="BaseResultMap" type="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLog">
        <constructor>
            <idArg column="log_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="job_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="bean_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="method_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="params" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="error" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="times" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="ip_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    log_id, job_id, bean_name, method_name, params, `status`, error, times, ip_address, 
    create_time
  </sql>
    <select id="selectByExample" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLogExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from schedule_job_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from schedule_job_log
        where log_id = #{logId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from schedule_job_log
    where log_id = #{logId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLogExample">
        delete from schedule_job_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLog">
    insert into schedule_job_log (log_id, job_id, bean_name, 
      method_name, params, `status`, 
      error, times, ip_address, 
      create_time)
    values (#{logId,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, #{beanName,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{error,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, #{ipAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLog">
        insert into schedule_job_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                log_id,
            </if>
            <if test="jobId != null">
                job_id,
            </if>
            <if test="beanName != null">
                bean_name,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="error != null">
                error,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="ipAddress != null">
                ip_address,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="jobId != null">
                #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="beanName != null">
                #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="error != null">
                #{error,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                #{times,jdbcType=INTEGER},
            </if>
            <if test="ipAddress != null">
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLogExample"
            resultType="java.lang.Long">
        select count(*) from schedule_job_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update schedule_job_log
        <set>
            <if test="record.logId != null">
                log_id = #{record.logId,jdbcType=VARCHAR},
            </if>
            <if test="record.jobId != null">
                job_id = #{record.jobId,jdbcType=VARCHAR},
            </if>
            <if test="record.beanName != null">
                bean_name = #{record.beanName,jdbcType=VARCHAR},
            </if>
            <if test="record.methodName != null">
                method_name = #{record.methodName,jdbcType=VARCHAR},
            </if>
            <if test="record.params != null">
                params = #{record.params,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.error != null">
                error = #{record.error,jdbcType=VARCHAR},
            </if>
            <if test="record.times != null">
                times = #{record.times,jdbcType=INTEGER},
            </if>
            <if test="record.ipAddress != null">
                ip_address = #{record.ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update schedule_job_log
        set log_id = #{record.logId,jdbcType=VARCHAR},
        job_id = #{record.jobId,jdbcType=VARCHAR},
        bean_name = #{record.beanName,jdbcType=VARCHAR},
        method_name = #{record.methodName,jdbcType=VARCHAR},
        params = #{record.params,jdbcType=VARCHAR},
        `status` = #{record.status,jdbcType=VARCHAR},
        error = #{record.error,jdbcType=VARCHAR},
        times = #{record.times,jdbcType=INTEGER},
        ip_address = #{record.ipAddress,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLog">
        update schedule_job_log
        <set>
            <if test="jobId != null">
                job_id = #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="beanName != null">
                bean_name = #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="error != null">
                error = #{error,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=INTEGER},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where log_id = #{logId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLog">
    update schedule_job_log
    set job_id = #{jobId,jdbcType=VARCHAR},
      bean_name = #{beanName,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      error = #{error,jdbcType=VARCHAR},
      times = #{times,jdbcType=INTEGER},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>
    <select id="selectByExampleWithRowbounds"
            parameterType="com.wondersgroup.cloud.paas.storage.model.ScheduleJobLogExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from schedule_job_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>